.footer {
  background-color: var(--primary-color);
  margin-top: 100px;
}

.footer__body {
  position: relative;
  padding-top: 157px;
}
.footer__location {
  margin-top: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.location__wrapper {
  display: flex;
  gap: 0 80px;
}
.location__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.location__text {
  margin-left: 15px;
}
.location__text h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.274286px;

  color: #ffffff;
}
.location__text p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.274286px;

  color: #ffffff;
}
.footer__logo {
  position: absolute;
  top: -25%;
  left: 38%;
  width: 292px;
  height: 190px;
  background: #ffffff;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .nav__link {
  color: #ffffff;
}
.footer .active {
  font-weight: 700;
}

.footer__logos {
  display: flex;
  gap: 0 10px;
}
.footer__logos img {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 16px 5px;
}

.foooter__rights {
  margin-top: 30px;
  border-top: 1px solid #3396e3;
  padding: 32px 0 42px;
}
.foooter__rights .rights {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}
.important-notice {
  background-color: #0086ed;
  padding: 30px 0;
}
.important-notice h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.274286px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}
.important-notice p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  color: #ffffff;
}
.footer__bottom {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.footer__bottom .bottom__link {
  margin-right: 18px;
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: underline;

  color: #ffffff;
}
.footer__bottom p {
  margin-left: 30px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}
.footer__bottom .gm {
  margin-left: 5px;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #ffffff;
}
.footer-sticky-call-btn {
  color: var(--primary-color);
  width: 100%;
  padding:  12px 0;
  background-color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: -1px 5px 24px 8px rgba(0,0,0,0.75);
  border-radius: 15px;
  position:fixed;
  bottom: 0;
  transition: 300ms;
  display: none;

}
.footer-sticky-call-btn:hover {
  color: #ffffff;
  background-color: var(--primary-color);
  transition: 300ms;
}
@media (max-width: 768px) {
  .footer__list {
    display: none;
  }
  .footer__logo {
    height: 150px;
    left: 30%;
  }
  .footer__location {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.location__wrapper {
  display: flex;
  justify-content: center;
  gap: 0 30px;
}
.footer__body {
  padding-top: 100px;
}
.footer__logos {
  margin-top: 20px;
  display: flex;
  gap: 0 40px;
}
}
@media (max-width: 590px) {
  .footer-sticky-call-btn {
    display: flex;
  }
  .footer__logo {
    left: 23%;
  }
  .footer__bottom {
    padding: 30px 0 70px;
  }

}
@media (max-width: 490px) {
  .footer__bottom {
    flex-direction: column;
    align-items: start;
  }
  .footer__bottom p {
    margin-left: 0;
    margin-top: 15px;

  }
  .footer__logo {
    display: none;
  }
  .location__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px 0;
  }
  .footer__body {
    padding-top: 50px;
  }
}
@media (max-width: 425px) {
  .footer__bottom .bottom__link {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
