/* .home .imageBannerText {
  background-color: #F7F7F7;

} */
.imageBannerText.bg-gray {
  background-color: #F7F7F7;
  

}
.imageBannerText {
  padding: 100px 0;
}

.imageBannerText__wrapper {
  display: flex;
  gap: 0 70px;

}
.imageBannerText__img {
  width: 500px;
  height: 844px;
}
.imageBannerText__img img {
  width: 100%;
}
.imageBannerText__content {
  width: 600px;
}
.imageBannerText__wrapper.reverse {
  flex-direction: row-reverse;
}
.imageBannerText__content h2 {
  margin-bottom: 30px;
}
.imageBannerText__content ul {
  margin: 30px  0;
}
.imageBannerText__content ul li {
  list-style: disc;
  margin-bottom: 20px;
  margin-left: 30px;
  line-height: 30px;
}

@media (max-width:900px) {
  .imageBannerText__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .imageBannerText__img  {
    display: none;
  }
  .imageBannerText {
    padding: 50px 0;
}
 
}