.imageBanner {
  padding: 100px 0;
}
.imageBanner__grid {
  display: flex;
  gap: 0 70px;
  align-items: center;
}
.imageBanner__content h4 {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  color: var(--primary-color);
}
.imageBanner__content h2 {
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .imageBanner__grid {
    flex-direction: column;
    gap: 20px 0;
  }
  .imageBanner {
    padding: 50px 0;
  }
  .imageBanner__img {
    width: 400px;
  }
  .imageBanner__img img {
    width: 100%;
  }
  .imageBanner__content h2 {
    text-align: center;
  }
  .imageBanner__content h4 {
    text-align: center;
  }
}
@media (max-width: 590px) {
  .imageBanner__img {
    width: 300px;
}
}
