.ourProfiles__body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  padding: 100px 0 225px;
  margin-bottom: 285px;
}
.ourProfiles__company-wrapper {
  display: flex;
  gap: 0 30px;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: -190px;
  left: 0;
}
.ourProfiles__company {
  background-color: #ffffff;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
  width: 370px;
  height: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ourProfiles__body h2 {
  color: #ffffff;
  text-align: center;
}
.ourProfiles p {
  text-align: center;
  margin-bottom: 50px;
}
.ourProfiles__card-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0 20px;
}
.ourProfiles__card {
  background-color: var(--secondary-color);
  padding: 30px 22px 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 500ms;
}
.ourProfiles__card:hover {
  transition: 500ms;
  transform: scale(1.05);
}
.ourProfiles__card p {
  margin-top: 15px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #ffffff;
}

/* Media */

@media (max-width: 1200px) {
  .ourProfiles__company {
    width: 300px;
    height: 300px;
  }
  .ourProfiles__company-wrapper {
    bottom: -135px;
  }
}
@media (max-width: 1092px) {
  .ourProfiles__company-wrapper {
    bottom: -135px;
  }
}
@media (max-width: 1034px) {
  .ourProfiles__company-wrapper {
    bottom: -135px;
    /* left: 17px; */
  }
}
@media (max-width: 1000px) {
  .ourProfiles__company {
    width: 250px;
    height: 250px;
  }
  .ourProfiles__company img {
    width: 70%;
  }
  .ourProfiles__company-wrapper {
    bottom: -135px;
  }
  .ourProfiles__body {
    padding: 100px 0 180px;
    margin-bottom: 200px;
  }
}
@media (max-width: 918px) {
  .ourProfiles__company-wrapper {
    bottom: -80px;
  }
  .ourProfiles__company {
    width: 200px;
    height: 200px;
}
.ourProfiles__card-wrapper {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px ;
}
}
@media (max-width: 768px) {
  .ourProfiles__company-wrapper {
    bottom: -80px;
  }
  .ourProfiles__company {
    width: 200px;
    height: 200px;
}
}
@media (max-width: 732px) {
  .ourProfiles__company-wrapper {
    bottom: -80px;
}
.ourProfiles__body {
  padding: 80px 0 150px;
  margin-bottom: 157px;
}
}
@media (max-width: 700px) {
  .ourProfiles__company {
    width: 150px;
    height: 150px;
}
.ourProfiles__body {
  padding: 80px 0 100px;
}
.ourProfiles__company-wrapper {
  gap: 0 10px ;
}
.ourProfiles p {
  margin-bottom: 30px;
}
}
@media (max-width: 700px) {
  .ourProfiles__card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
