.privacyPolicy {
  padding: 75px 0;
}
.privacyPolicy__description2 {
  background-color: #F7F7F7;
  padding: 100px 0;
}
.privacyPolicy__description1 {
  padding-bottom: 100px;
}
.privacyPolicy__description1 p {
  margin-bottom: 15px;
}
.privacyPolicy__description2 h2 {
  margin-bottom: 50px;
  margin-top: 50px;
}
.privacyPolicy__description2 ul {
  margin: 15px 0;
  margin-left: 30px;
}
.privacyPolicy__description2 li {
  list-style: disc;
  margin-bottom: 10px;
}

/* ACCESSIBILTY PAGE */
.accessibility-description {
  padding: 100px 0;
}

@media (max-width:1024px) {
  .accessibility .g-hero h1 {
    font-size: 80px;
  }
  .accessibility-description {
  padding: 80px 0;

  }
}
@media (max-width:768px) {
  .accessibility .g-hero h1 {
    font-size: 60px;
  }
  .accessibility-description {
    padding: 40px 0;
  
    }
}
@media (max-width:590px) {
  .accessibility .g-hero h1 {
    font-size: 50px;
  }
  .accessibility-description {
    padding: 20px 0 40px;
  
    }
}
@media (max-width:425px) {
  .accessibility .g-hero h1 {
    font-size: 40px;
  }
}
